{% extends 'ubt_base.html' %}
{% block content %}
   <div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">日常统计</div>
            <div class="panel-body">
                <div class="table-container">
                    <table data-toggle="table" data-url="" data-cache="false" data-height="300">
                        <thead>
                        <tr>
                            <th data-field="day">小时</th>
                            <th data-field="pv">页面浏览(PV)</th>
                            <th data-field="uv">用户浏览(UV)</th>
                            <th data-field="id">登陆(ID)</th>
                            <th data-field="search">搜索</th>
                            <th data-field="download">下载</th>
                            <th data-field="register">注册</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="row">
    <div class="col-lg-10 col-md-offset-1 col-sm-12 ng-scope" id="line-chart2" ng-controller="LineCtrl2">
        <div class="panel panel-default">
            <div class="panel-heading">每日趋势</div>
            <div class="panel-body">
                <div class="chart-container">
                    <canvas id="line1" class="chart chart-line ng-isolate-scope" data="data" labels="labels"
                            legend="true" click="onClick" hover="onHover" series="series" height="100px"></canvas>
                    <chart-legend>
                    </chart-legend>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">搜索TOP5</div>
            <div class="panel-body">
                <div class="table-container">
                    <table data-toggle="table" data-url="" data-cache="false" data-height="300">
                        <thead>
                        <tr>
                            <th data-field="key">关键字</th>
                            <th data-field="search">搜索量</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">下载TOP5</div>
        <div class="panel-body">
            <div class="table-container">
                <table data-toggle="table" data-url="" data-cache="false" data-height="300">
                    <thead>
                    <tr>
                        <th data-field="key">关键字</th>
                        <th data-field="download">下载量</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-offset-1 col-sm-12 ng-scope" id="line-chart" ng-controller="LineCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">搜索数量</div>
            <div class="panel-body">
                <div class="chart-container">
                    <canvas id="line" class="chart chart-line ng-isolate-scope" data="data" labels="labels"
                            legend="true" click="onClick" hover="onHover" series="series" height="261" width="523"
                            style="width: 523px; height: 100px;"></canvas>
                    <chart-legend>
                    </chart-legend>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5 col-sm-12 ng-scope" id="line-chart1" ng-controller="LineCtrl1">
        <div class="panel panel-default">
            <div class="panel-heading">下载数量</div>
            <div class="panel-body">
                <div class="chart-container">
                    <canvas id="line1" class="chart chart-line ng-isolate-scope" data="data" labels="labels"
                            legend="true" click="onClick" hover="onHover" series="series" height="261" width="523"
                            style="width: 523px; height: 100px;"></canvas>
                    <chart-legend>
                    </chart-legend>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
