{% extends 'base.html' %}
{% load until_now %}

{% block title %}搜索{% endblock %}

{% block content %}

{% for excel in search_result %}

<h3>
  <a href="/download/{{ excel.excel.id }}">{{ excel.excel.name }}</a>
  <small>
    {{ excel.excel.time | until_now }}
    {{ excel.excel.phone }}
    {% if excel.excel.nickname %}({{ excel.excel.nickname }}){% endif %}
  </small>
</h3>

<table class="table table-bordered table-striped">
  {% for row in excel.rows %}
  <tr>
      <td><a href="/detail/{{excel.excel.id}}/#sheet_0_{{row.row}}">第{{ row.row }}行</a></td>
      {% for cell in row.cell %}
      <td>{{ cell }}</td>
      {% endfor %}
  </tr>
  {% endfor %}
</table>

<a href="/detail/{{ excel.excel.id }}">详细...</a>
<hr />

{% endfor %}

{% endblock %}