{% extends 'base.html' %}
{% load until_now %}

{% block title %}登录{% endblock %}

{% block content %}

{% if error %}

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  {{ error }}
</div>

{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <div class="form-inline">
    <input class="form-control" id="input_phone" name="phone" value="{{ phone }}" placeholder="手机号">
    <button type="button" id="btn_send_validation_code" class="btn btn-primary">发送验证码</button>
    <input class="form-control" name="validation_code" placeholder="验证码">
    <input type="hidden" name="next" value="{{ redirect_to }}">

    <button type="submit" class="btn btn-primary">登录</button>
  </div>
</form>

{% endblock %}

{% block script %}

$(function() {
  $('#btn_send_validation_code').click(function () {

    var url = '/send/validation/code?phone=' + $('#input_phone').val();

    $.get(url).error(function (err) {
        alert(err.responseText);
    });
  });
});

{% endblock %}
