{% extends 'base.html' %}
{% load until_now %}

{% block title %}个人资料{% endblock %}

{% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <div class="form-inline">
    <input class="form-control" id="input_phone" name="phone" value="{{ phone }}" placeholder="手机号" disabled="disabled">
    <input class="form-control" id="input_nickname" name="nickname" value="{{ nickname }}" placeholder="昵称">
    <input class="form-control" id="input_qq" name="qq" value="{{ qq }}" placeholder="QQ">

    <button type="submit" class="btn btn-primary">修改</button>
  </div>
</form>

{% endblock %}
